.calendar {
  max-width: 315px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;
}

.calendarHeader {
  order: 0;
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.navigation {
  order: 0;
  flex: 0 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding: 15px 5px;
}

.navigation > div:first-child {
  order: 0;
  flex: 0 1 70%;
}

select {
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 0 5px;
}

.navigation > div:last-child {
  text-align: right;
  order: 1;
  flex: 0 1 30%;
}

button {
  font-size: 1.1em;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 0 5px;
}

.dayList {
  order: 1;
  flex: 0 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding: 15px 0;
}

.dayList > span {
  text-transform: capitalize;
  text-align: center;
  flex: 0 0 calc(100% / 7);
}

.calendarBody {
  order: 1;
  flex: 0 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding-top: 10px;
}

.calendarBody > span {
  text-align: center;
  width: calc(100% / 7);
  height: 45px;
  flex: 0 1 calc(100% / 7);
}

.calendarBody > span:hover {
  background-color: #222;
}
