.calendar {
  color: #fff;
  background-color: #000;
  max-width: 315px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  border-radius: 10px;
  overflow: hidden;
}

.calendarHeader {
  order: 0;
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.navigation {
  order: 0;
  flex: 0 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding: 15px 5px;
}

.navigation > div:first-child {
  order: 0;
  flex: 0 1 70%;
}

select {
  text-transform: capitalize;
  color: #fff;
  background-color: #000;
  height: 27px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px;
}

select:hover{
  background: linear-gradient(45deg, #E8BD70, #EDD185);
}

option {
  color: #fff;
}

.navigation > div:last-child {
  text-align: right;
  order: 1;
  flex: 0 1 30%;
}

button {
  font-size: 1.1em;
  text-align: center;
  color: #fff;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 5px;
}

button:hover:not(:disabled) {
  color: #000;
  background: linear-gradient(45deg, #e8bd70, #edd185);
}

button:disabled {
  color: #888;
  cursor: not-allowed;
}

.dayList {
  order: 1;
  flex: 0 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.dayList > span {
  text-transform: capitalize;
  text-align: center;
  flex: 0 0 calc(100% / 7);
}

.calendarBody {
  order: 1;
  flex: 0 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding-top: 10px;
}

.calendarBody > div {
  text-align: center;
  width: calc(100% / 7);
  height: 45px;
  flex: 0 1 calc(100% / 7);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.calendarBody > div > span {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  flex: 0 1 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: bottom;
  padding: 6px;
}

.calendarBody > div > span:hover {
  color: #000;
  background: linear-gradient(45deg, #e8bd70, #edd185);
  cursor: pointer;
}
